.row {
  margin: 0;
  padding: 0;
}

.spacer {
  clear: both;
}

.row .row {
  margin-top: 0px;
  margin-bottom: 0px;
}
[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fretboard_segment {
	float:left;
    overflow: hidden;
    white-space: nowrap;
	text-align: center;
	position: relative;
	margin: 0px 0px 0px 0px;
}

.circle {
	border:2px solid red;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position:relative;
    margin:0px auto;
}

.fret {
	width: 60px;
	display: inline-block;
	background-color:#966F33;
	border-bottom: 2px solid #8C7E6C;
	border-right: 4px ridge #BCC6CC;
	margin: 0px 0px 0px 0px;
}

.nut {
	width: 40px;
	display: inline-block;
	background-color:#AF7817;
	border-bottom: 2px solid #8C7E6C;
	border-right: 2px ridge #FFFFFF;
	margin: 0px 0px 0px 0px;
}

.scrollstring {
	float:left;
    overflow: visible;
    white-space: nowrap;
}

.tab_note {
	width:70px;
	display: inline-block;
	background-color:lightgray;
}

.active_note {
	left:0px;
	color:lightgray;
}

.string_on {
	background-color:green;
	color:white;
}

.string_off {
	background-color:darkgray;
	color:white;
}

.string_score {
	position:fixed;
}

.score_hit {
	display: none;
	background-color:green;
	color:white;
}

.score_miss {
	display: none;
	background-color:red;
	color:white;
}