body {
	margin-left:10px;
	margin-right:10px;
}

.row {
  margin: 0;
  padding: 0;
}

.spacer {
  clear: both;
}

.row .row {
  margin-top: 0px;
  margin-bottom: 0px;
}
[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fretboard_segment {
    overflow: visible;
    white-space: nowrap;
}

.unplayed_string_circle {
	border:2px solid lightgreen;
    height: 20px;
    width: 20px;
    border-radius: 20px;
	position:absolute;
	display:none;
	z-index:3;
}

.played_string_circle_hit {
	background-color:green;
	z-index:3;
}

.played_string_circle_miss {
	background-color:red;
	z-index:3;
}

.tab_string_circle {
	border:2px solid blue;
	background-color:lightblue;
    height: 17px;
    width: 17px;
    border-radius: 17px;
    position:absolute;
	display:none;
	z-index:2;
}

.tab_string_circle_hit {
	background-color:green;
}

.tab_string_circle_miss {
	background-color:orange;
}

.guitar_fretboard_marker_circle {
	border:2px solid #8A4117;
	background-color: #6F4E37;
    height: 20px;
    width: 20px;
    border-radius: 20px;
	position:absolute;
	z-index:2;
}

.fret {
	width: 60px;
	display: inline-block;
	background-color:#966F33;
	border-bottom: 2px solid #8C7E6C;
	border-right: 4px ridge #BCC6CC;
	z-index:1;
}

.nut {
	display: inline-block;
	background-color:#AF7817;
	border-bottom: 2px solid #8C7E6C;
	border-right: 2px ridge #FFFFFF;
}

.scrollstring {
    white-space: nowrap;
}

.tab_note {
	width:70px;
	display: inline-block;
	background-color:lightgray;
}

.tab_note_endmusic {
	background-color:gray;
}

.active_note {
	left:0px;
	color:lightgray;
}

.string_on {
	background-color:green;
	color:white;
}

.string_off {
	background-color:darkgray;
	color:white;
}

.string_score {
	position:fixed;
}

#tab_wrapper {
	margin-left:90px;
	border-left: 5px solid red;
}

.fretboard_row {

	overflow-x:auto;
	overflow-y:hidden;
}